<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>resourceBundle.path</param-name>
        <param-value>i18n.messages</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            25
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>faces/index.html</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <display-name>Account</display-name>
        <web-resource-collection>
            <web-resource-name>Account</web-resource-name>
            <description/>
            <url-pattern>/faces/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administration</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Location</display-name>
        <web-resource-collection>
            <web-resource-name>Location</web-resource-name>
            <description/>
            <url-pattern>/faces/location/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>ListLocations</display-name>
        <web-resource-collection>
            <web-resource-name>ListLocations</web-resource-name>
            <description/>
            <url-pattern>/faces/location/listLocations.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Office</role-name>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Product</display-name>
        <web-resource-collection>
            <web-resource-name>Product</web-resource-name>
            <description/>
            <url-pattern>/faces/product/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Office</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>ListProducts</display-name>
        <web-resource-collection>
            <web-resource-name>ListProducts</web-resource-name>
            <description/>
            <url-pattern>/faces/product/listProducts.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Office</role-name>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Contractor</display-name>
        <web-resource-collection>
            <web-resource-name>Contractor</web-resource-name>
            <description/>
            <url-pattern>/faces/contractor/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Office</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Stock</display-name>
        <web-resource-collection>
            <web-resource-name>Stock</web-resource-name>
            <description/>
            <url-pattern>/faces/stock/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>ListStock</display-name>
        <web-resource-collection>
            <web-resource-name>ListStock</web-resource-name>
            <description/>
            <url-pattern>/faces/stock/listStock.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Office</role-name>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>AuthenticationUser</display-name>
        <web-resource-collection>
            <web-resource-name>AuthenticationUser</web-resource-name>
            <description/>
            <url-pattern>/faces/common/changeMyPassword.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administration</role-name>
            <role-name>Office</role-name>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Issues</display-name>
        <web-resource-collection>
            <web-resource-name>Issues</web-resource-name>
            <description/>
            <url-pattern>/faces/issue/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Office</role-name>
            <role-name>Warehouse</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>LoginPage</display-name>
        <web-resource-collection>
            <web-resource-name>LoginPage</web-resource-name>
            <description/>
            <url-pattern>/faces/common/signIn.xhtml</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>WMJDBCRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/common/signIn.xhtml</form-login-page>
            <form-error-page>/faces/error/errorSignIn.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Administration</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Office</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Warehouse</role-name>
    </security-role>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/error/error403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/error/error404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/error/error500.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/faces/error/error.xhtml</location>
    </error-page>
</web-app>
